<?xml version="1.0"?>
<metaproxy xmlns="http://indexdata.com/metaproxy" version="1.0">
  <dlpath>../src</dlpath>
  <start route="start"/>
  <filters>
    <filter id="frontend" type="frontend_net">
      <port>@:9070</port>
      <stat-req>/fn_stat</stat-req>
    </filter>
  </filters>
  <routes>
    <route id="start">
      <filter refid="frontend"/>
      <filter type="http_file">
        <area>
          <documentroot>xsl</documentroot>
          <prefix>/xsl</prefix>
        </area>
      </filter>
      <filter type="sru_z3950">
        <stylesheet>/xsl/sru.xsl</stylesheet>
        <database name="Default">
	  <xi:include xmlns:xi="http://www.w3.org/2001/XInclude"
		      href="explain.xml"/>
	</database>
      </filter>
      <filter type="cql_rpn">
        <conversion file="cql2pqf.txt"/>
      </filter>
      <filter type="log">
         <category access="false" line="true" apdu="false" />
	 <message>F</message>
      </filter>
      <filter type="xquery">
	<elementset name="bibframe" backend="marcxml"/>
	<script name="/home/adam/proj/marc2bibframe/xbin/zorba3-0.xqy"/>
	<record name="marcxmluri"/>
	<variable name="serialization" value="rdxml"/>
	<variable name="baseuri" value="http://base/"/>
      </filter>
      <filter type="record_transform">
	<retrievalinfo  xmlns="http://indexdata.com/yaz" version="1.0">
	  <retrieval syntax="usmarc" name="F"/>
	  <retrieval syntax="usmarc" name="B"/>
	  <retrieval syntax="xml" name="marcxml"
		     identifier="info:srw/schema/1/marcxml-v1.1">
	    <backend syntax="usmarc" name="F">
	      <marc inputformat="marc" outputformat="marcxml"
		    inputcharset="marc-8" outputcharset="utf-8"/>
	    </backend>
	  </retrieval>
	</retrievalinfo>
      </filter>
      <filter type="virt_db">
	<virtual>
	  <database>Default</database>
	  <target>z3950.loc.gov:7090/voyager</target>
	</virtual>
      </filter>
      <filter type="log">
	<category access="false" line="true" apdu="false" />
	 <message>B</message>
      </filter>
      <filter type="z3950_client">
      </filter>
      <filter type="bounce"/>
    </route>
  </routes>
</metaproxy>

